body{
 background-color: rgba(43, 33, 28, 0.4);
 color: black;
 text-align: center;
 display: flex;
}

#bullBtn {
  border: dotted 2px rgb(255, 0, 0);
  background: none;
  cursor: pointer;
  touch-action: manipulation;
}

#bullBtn img {
  width: 200px;
}

#shop {
  text-align: bottom;
  border-left: 2px solid;
  padding: 20px;
}

#shop button {
  display: block;
  margin: 10px 0;
}

#camera {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}